#container {
    position:relative
}

#map {
    height:700px
}

#boulder {
    position:absolute;
    background-color:transparent;
    top:10px;
    right:25px;
    z-index:3;
    background:#fff;
    width:300px;
    height:100px;
    border-color:#000;
    border-style:hidden -webkit-box-shadow: 0 8px 6px -6px #000;
    -moz-box-shadow:0 8px 6px -6px #000;
    box-shadow:0 8px 6px -6px #000
}

#weather {
    position:absolute;
    background-color:transparent;
    top:75px;
    right:25px;
    z-index:3;
    background:#fff;
    width:300px;
    height:34px;
    border-color:#000;
    border-style:hidden
}

#places {
    position:absolute;
    background-color:transparent;
    top:150px;
    right:25px;
    z-index:3;
    background:#fff;
    width:300px;
    height:200px;
    border-color:#000;
    border-style:hidden -webkit-box-shadow: 0 8px 6px -6px #000;
    -moz-box-shadow:0 8px 6px -6px #000;
    box-shadow:0 8px 6px -6px #000
}

ul {
    list-style-type:none
}

html {
    height:100%
}

body {
    height:100%;
    margin:0;
    padding:0
}

.button {
    background-color:#ed8223;
    color:#fff;
    font-family:'Helvetica Neue',sans-serif;
    font-size:18px;
    line-height:30px;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border:0;
    text-shadow:#C17C3A 0 -1px 0;
    width:120px;
    height:32px
}

h1 {
    font-size:25px;
    color:#040404;
    line-height:48px
}